<h1>  El estudiante agregado fue:  </h1>


<p>
  <strong>Estudiante:</strong>
  <%= @student.nombre%>
</p>
 
 
<%= link_to 'Back', students_path %>
<%= link_to 'Edit', edit_student_path(@student) %>

 


